.sections {
  
}

.section {
  padding-bottom: 24px; /* Padding within each individual grid item */
  /* border-bottom: 2px solid #ffa94d; */
}

.sectionContainer {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  padding: 0 16px;
}


.sectionTextBox {
  display: flex;
  flex-direction: column;
}


.sectionTitle {
  font-size: 22px;
  line-height: 1;
}

.sectionText {
  font-size: 19px;
  margin-top: 4px;
  color: #888888;
}

