.page {
  position: relative;
  background-color: var(--foreground);
  color: white;
  height: 100vh;
}

.main {
  width: 100%;
  height: 100%;

  display: grid;
  align-items: center;
  justify-content: center;
}

.box {
  display: grid;
  gap: 16px;
  align-items: center;
  text-align: center;
}

.link {
  font-weight: 700;
  text-decoration: underline;
}