.box {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
  box-shadow: 1px 1px 8px hsl(0deg 0% 20% / 80%);
}

.medium {
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  padding: 3px 6px;
  border-radius: 4px;

  background-color: var(--orange);
}

.big {
  composes: medium;
  font-size: 14px;
  padding: 4px 8px;
}