.card {
  width: 100%;
}

.lineBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.image {
  display: block;
  width: 80px;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}

.textBlock {
  margin-top: 8px;
  width: 100%;
  flex-grow: 1;
}

.title {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.3;
  color: var(--header-inversive);
  max-width: 200px;
}

.description {
  margin-top: 8px;
}

@media (min-width: 600px) {
  .title {
    font-size: 26px;
    max-width: 600px;
  }
  .description {
    margin-top: 8px;
    font-size: 16px;
  }
  .textBlock {
    margin-top: 24px;
  }
  .image {
    width: 60px;
    display: none;
  }
}