.card {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.image {
  display: block;
  width: 80px;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}

.textBlock {
  /* margin-top: 16px; */
  width: 100%;
  flex-grow: 1;
}

.title {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  color: var(--header-inversive);
}

.description {
  margin-top: 8px;
  font-size: 15px;
  line-height: 1.5;
  color: var(--text-inversive);
}

@media (min-width: 600px) {
  .title {
    font-size: 26px;
  }
  .description {
    margin-top: 8px;
    font-size: 16px;
  }
  .textBlock {
    margin-top: 32px;
  }
}