.sections {
  
}


.list {
  list-style: none;
}

.item {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 15px;
  font-size: 21px;
}

.icon {
  color: #03a9f4; /* розовая галочка */
  font-size: 28px;
  line-height: 1.0;
  font-weight: 700;
}