.list {
  margin-top: 24px;
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 600px) {
  .list {
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }
}
