/* Root section */
.box {
  position: relative;
  isolation: isolate;
  background: #ffffff;
  padding: clamp(32px, 6vw, 48px) 0;
  width: 100%;
  min-width: 0px;
}

.boxGray {
  background: #f5f5f5;
}

/* Layout */
.boxContainer {
  position: relative;
  z-index: 1;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 clamp(16px, 4vw, 28px);
  width: 100%;
}

.boxContainerLeft {

}

.boxContainerIsShort {
  max-width: 1170px;
}

.boxContainer600 {
  max-width: 600px;
}

.boxContainer720 {
  max-width: 720px;
}

.boxContainer800 {
  max-width: 800px;
}

.boxContainer960 {
  max-width: 960px;
}

.content {
  margin-top: 32px;
  width: 100%;
  min-width: 0px;
}

.textBox {
  max-width: 760px;
  margin: 0 auto;
}

.title {
  /* font-size: 28px; */
  text-align: center;
  width: 100%;
  line-height: 1.1;
}

.text {
  font-size: 18px;
  text-align: center;

  line-height: 1.3;
  color: var(--text);
  width: 100%;
  margin-top: 12px;
  display: block;
}

/* Responsive */
@media (min-width: 720px) {
  .boxContainer {
    grid-template-columns: 1fr;
  }

  .boxContainerLeft {
    display: flex;
    width: 100%;
  
    .content {
      margin-top: 4px;
      margin-left: 32px;
      width: auto;
      flex-grow: 1;
    }
  
    .textBox {
      width: 36%;
      flex-shrink: 0;
    }
  
    .title {
      text-align: left;
    }
  
    .text {
      text-align: left;
    }
  }
}

