/* Root section */
.hero {
  position: relative;
  width: 100%;
  height: 100vh; /* на полный экран */
  background: url("/product/bg2.webp") no-repeat center center/cover; 
  /* background: url("/product/head.png") no-repeat center center/cover;  */
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35); /* затемнение */
}

/* Layout */
.heroContainer {
  position: relative;
  text-align: center;
  color: #fff;
  max-width: 800px;
  padding: 0 20px;
}

.heroCopy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.heroTitle {
  font-size: 42px; /*clamp(36px, 6vw, 72px);*/
  line-height: 1.1;
  letter-spacing: -0.02em;
  font-weight: 800;
  color: #fff;
  margin: 0 0 20px;
}

.heroSubtitle {
  font-size: 21px;
  line-height: 1.4;
  color: #fff;
  margin: 0 0 28px;
}





/* Responsive */
@media (max-width: 980px) {
  
}
