.page {
  min-height: 100vh;
}

.backBox {
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 12px;
}

.main {
  max-width: 780px;
  margin: 0 auto;
  padding-bottom: 36px;

  h1 {
    font-size: 24px;
    line-height: 1.1;
  }
}

.imagesBox {
  width: 100%;
  min-height: 0;
  min-width: 0;
}

.title {
  padding: 0 16px;
  margin-top: 8px;
}

.line {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 16px;
}

.textBox {
  flex-grow: 1;
  margin-top: 8px;
  padding: 0 12px;

  h2 {
    font-size: 24px;
  }

  ul {
    padding-left: 20px;
    margin-top: 8px;
    font-size: 16px;
    line-height: 1.3;

    li + li {
      margin-top: 4px;
    }
  }

  p {
    line-height: 1.3;
    font-size: 16px;
    margin-top: 4px;
  }

  h3 {
    font-size: 18px;
    margin-top: 12px;
  }
}

.rightSide {
  width: 100%;
  flex-shrink: 0;
}

.seeAllButton {
  border: 1px solid #0974e2;
  font-weight: 700;
  font-size: 15px;
  display: block;
  color: #0974e2;
  text-align: center;
  border-radius: 8px;
  padding: 12px 16px;
  margin-top: 16px;

  &:hover {
    border-color: #3a9bff;
  }
}

.naMessage {
  font-size: 22px;
  color: #aaaaaa;
  padding: 18px;
}

@media (min-width: 760px) {
  .title {
    padding: 0 24px;
    margin-top: 24px;
  }
  .main {
    h1 {
      font-size: 28px;
    }
  }
  .line {
    flex-direction: row;
    align-items: start;
  }
  .rightSide {
    width: 300px;
    margin-left: 24px;
    padding: 16px 16px;
  }
  .textBox {
    margin-top: 0;

    p {
      line-height: 1.5;
      font-size: 16px;
      margin-top: 8px;
    }
  }

  .seeAllButton {
    display: none;
  }

  .backBox {
    display: none;
  }
}
