.page {
  min-height: 100vh;
  background-color: var(--foreground);
}

.backBox {
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 12px;
  border-bottom: 1px solid #555555;
}

.main {
  max-width: 760px;
  margin: 0 auto;
  padding: 16px;
  padding-bottom: 32px;
  padding-top: 36px;

  h1 {
    color: white;
    text-align: center;
    font-size: 28px;
  }
}
