.page {
  min-height: 100vh;
  background-color: var(--foreground);
}

.main {
  max-width: 760px;
  margin: 0 auto;
  padding: 16px;
  padding-bottom: 32px;
  padding-top: 36px;

  h1 {
    color: var(--header-inversive);
    text-align: center;
  }

  p {
    margin-top: 16px;
    color: var(--text-inversive);
  }
}


@media (min-width: 840px) {
  .main {
    p {
      margin-top: 12px;
    }
  }
}