.page {
  min-height: 100vh;
  background-color: var(--foreground);
  color: var(--header-inversive);
}

.main {
  max-width: 760px;
  margin: 0 auto;
  padding: 16px;
  padding-bottom: 32px;
  padding-top: 36px;

  h1 {
    color: var(--header-inversive);
    text-align: center;
    max-width: 560px;
    margin: 0 auto;
  }

  p {
    margin-top: 16px;
    color: var(--text-inversive);
  }
}

.titleLine {
  display: flex;
  align-items: center;
  gap: 16px;

  h3 {
    flex-grow: 1;
  }
}

.link {
  font-weight: 700;
  font-size: 13px;
  color: var(--info-3);
}

.categories {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.slider {
  margin: 0 -6px;
  margin-top: 12px;
}

.item {
  padding: 0 6px;
}

@media (min-width: 840px) {
  .main {
    p {
      margin-top: 12px;
    }
  }
}