.titleLine {
  display: flex;
  align-items: center;
  gap: 16px;

  h3 {
    flex-grow: 1;
  }
}

.link {
  font-weight: 700;
  font-size: 13px;
  color: var(--info-3);
}

.categories {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.slider {
  margin: 0 -6px;
  margin-top: 12px;
}

.item {
  padding: 0 6px;
}
