.affiliateBox {
  padding-bottom: 16px;
  text-align: center;
  border-bottom: 1px solid var(--border-light);
}

.affiliateBoxText {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.3;

  strong { 
    color: var(--orange);
  }
}

.seeAllButton {
  border: 1px solid #0974e2;
  font-weight: 700;
  font-size: 15px;
  display: block;
  color: #0974e2;
  text-align: center;
  border-radius: 8px;
  padding: 12px 16px;
  margin-top: 16px;

  &:hover {
    border-color: #3a9bff;
  }
}

@media (min-width: 760px) {
  .affiliateBox {
    display: none;
  }
}
