.drawer {
  position: absolute;
  top: 50px;
  /* left: 0; */
  right: 0;
  width: 100%;
  color: white;
  background-color: var(--foreground);
  display: flex;
  justify-content: center;
  gap: 18px;
  border-bottom: 1px solid var(--border-dark);
  padding: 8px 20px;
  z-index: -1;
  transition-property: -webkit-transform;
  transition-property: transform;
  transform: translate3d(100%, 0, 0);
  transition-duration: 300ms;
}

.open {
  composes: drawer;

  transform: translate3d(0, 0, 0);
}


.imageSuggested {
  display: block;
  width: 48px;
  height: auto;
  object-fit: cover;
  overflow: hidden;
  flex-shrink: 0;
}
