.drawer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: white;
  background-color: var(--foreground);
  display: flex;
  justify-content: center;
  gap: 18px;
  border-bottom: 1px solid var(--border-dark);
  padding: 8px 20px;
  z-index: 50;
  transition-property: -webkit-transform;
  transition-property: transform;
  transform: translate3d(0, -100%, 0);
  transition-duration: 300ms;
}

.open {
  composes: drawer;

  transform: translate3d(0, 50px, 0);
}


.imageSuggested {
  display: block;
  width: 48px;
  height: auto;
  object-fit: cover;
  overflow: hidden;
  flex-shrink: 0;
}
