/* InputWithLabel.css */
.inputWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
}

.inputLabel {
  font-size: 1rem;
  color: #4b5563; /* цвет для label */
  font-weight: 700;
}

.inputContainer {
  width: 100%;
  margin-top: 4px;
}

.inputHint {
  font-size: 0.9rem;
  margin-top: 4px;
  color: #888888; /* цвет для label */
}
