.gradientColor {
  /* background-image: radial-gradient(circle at 50% 40vh, #ffd27b 0, #df3a93 60vh, #5c1663 100vh); */

  background: var(--orange);
  background: linear-gradient(90deg,rgba(253, 87, 88, 1) 0%, rgba(139, 79, 255, 1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: var(--foreground);
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100lvh - 50px);
  padding: 0 12px;
  position: relative;
  color: #ffffff;
}

.h1Box {
  max-width: 760px;
}

.h1Sub {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  display: block;
  margin-bottom: 8px;
}
.h1 {
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  font-size: 46px;
  line-height: 1.1;

  composes: gradientColor;
}
.textBox {
  text-align: center;
  font-size: 27px;
  margin-top: 4px;
  color: var(--text-inversive);
}
.iconBox {
  position: absolute;
  bottom: 16px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes _1jyak14m {
  0% {
    /* opacity: .5; */
    transform: translateY(-6px);
  }
  100% {
    /* opacity: 1; */
    transform: translateY(6px);
  }
}

.icon {
  animation: _1jyak14m 1s ease-in-out infinite alternate;
}


.languages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
}

.languagesTitle {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  color: var(--text-inversive);
}

.languagesList {
  display: flex;
  gap: 12px;
  margin-top: 4px;
}

.imageSuggested {
  display: block;
  width: 38px;
  height: auto;
  object-fit: cover;
  overflow: hidden;
  flex-shrink: 0;
}


@media (min-width: 840px) {
  .h1 {
    font-size: 64px;
  }
  .h1Sub {
    font-size: 32px;
  }
}
