.button {
  background-color: var(--primary);
  color: white;
  padding: 10px 24px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  /* font-weight: 600; */
  height: 48px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  display: flex;
  align-items: center;
}

.button:hover:not(:disabled) {
  background-color: var(--primary-hover);
}

.disabled {
  background-color: var(--primary);
  opacity: 0.5;
  cursor: not-allowed;
}

/* Спиннер */
.spinner {
  width: 16px;
  height: 16px;
  margin-right: 4px;;
  border: 2px solid white;
  border-top: 2px solid transparent;
  border-radius: 50%;
  animation: spin 0.6s linear infinite;
  display: inline-block;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
