.sections {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  /* margin: -8px; */
  /* gap: 16px; */
}


.items {
  width: 100%;
  height: 100%;
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}





.textBox {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  /* margin-left: 20px; */
}

.text {
  margin-top: 4px;
}


/* Responsive */
@media (min-width: 600px) {
 
}
