.box {
  /* padding: 16px 16px; */
  margin-top: 8px;
}

/* .title {
  font-size: 22px;
} */

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0 -4px;
  margin-top: 12px;
}

.item {
  padding: 4px;
}

.itemInner {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: 1px solid var(--border-light);
  padding: 12px 8px;
  border-radius: 8px;
  min-height: 130px;
}

.stars {
  /* margin-top: 4px; */
  display: flex;
  gap: 4px;
}

.line {
  margin-top: 4px;

  strong {
    margin-bottom: 2px;
    display: block;
  }
  /* font-size: 16px; */
}

.image {
  display: block;
  width: 40px;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}

.text {
  color: var(--text);
  min-height: 40px;
  /* font-size: 16px; */
  /* margin-top: 4px; */
}

.date {
  font-size: 14px;
}

.userBox {
  display: flex;
  gap: 8px;
}