.page {
  height: 100vh;
  background-color: var(--foreground);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  /* min-height: calc(100% - 156px); */
  background-color: var(--foreground);
  font-size: 18px;
}

.itemsList {
  margin-top: 16px;
  /* font-weight: 600; */
  line-height: 1.2;
}

.itemsListItem {
  display: block;

  & + & {
    margin-top: 12px;
  }
}


.itemsListItemEmp {
  composes: itemsListItem;

  font-weight: 700;
  font-size: 21px;
  color: #ffffff;
}


.extraMarginTop {
  margin-top: 24px;
}



.subSection {
  margin-top: 24px;
}
.subTitle {
  font-size: 20px;
  margin-top: 8px;
}
.smallList {
  margin-top: 8px;
  font-size: 17px;
}
.smallListItem {
  display: block;

  & + & {
    margin-top: 4px;
  }
}



.compareList {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 16px;
}

.compareItem {
  background-color: #222;
  border-radius: 8px;
  padding: 12px 12px;
  font-size: 15px;
}
.compareTitle {
  font-size: 18px;
}
.compareText {
  margin-top: 4px;
}
.compareSubList {
  padding-left: 12px;
  margin-top: 4px;

  li + li {
    margin-top: 2px;
  }
}



.optionsList {
  composes: compareList;
  display: flex;
  flex-direction: column;
}

.whyWorksList {
  composes: compareList;
  display: flex;
  flex-direction: column;
}

.getList {
  composes: compareList;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.roadMap {
  composes: compareList;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.roadMapSubList {
  composes: compareSubList;
  list-style: none;
  padding-left: 0px;
}

@media (min-width: 840px) {
  .compareItem {
    padding: 16px;
    font-size: 16px;
  }
  .compareTitle {
    font-size: 20px;
  }

  .getList {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

  .roadMap {
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }

  .optionsList { 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .whyWorksList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
