.page {
  min-height: 100vh;
  background-color: var(--foreground);
}

.main {
  max-width: 760px;
  margin: 0 auto;
  padding: 16px;
  padding-bottom: 32px;
  padding-top: 36px;
  color: var(--text-inversive);
  display: flex;
  flex-direction: column;
  gap: 16px;

  h1 {
    color: var(--header-inversive);
    text-align: center;
    max-width: 560px;
    margin: 0 auto;
  }

  p {
    margin-top: 16px;
  }
}

.item {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.textarea {
  width: 100%;
  height: 300px;
}

@media (min-width: 840px) {
  .main {
    p {
      margin-top: 12px;
    }
  }
}