:root {
  --background: #ffffff;
  --foreground: #171717;

  --header: #171717;
  --header-inversive: #ffffff;

  --text: #888888;
  --text-inversive: #dddddd;

  --heading: #0f74ff;
  --copy-color: #403b3b;

  --primary: #0f74ff;
  --primary-hover: #2694ff;
  --primary-disabled: #87d1ff;
  --primary-foreground: oklch(0.985 0 0);

  --border-light: #e9e9e9;
  --border-dark: #444444;

  --error: #dc2626;
  --violet: #af5ddb;

  --success: #0fac6e;
  --success-1: #e8f5e9;
  --success-2: #6cb670;
  --success-3: #4aa54f;
  --info-1: #e6f3fe;
  --info-2: #90caf9;
  --info-3: #3a90d6;
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
}

@media (prefers-color-scheme: dark) {
  /* :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  } */
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  /* font-family: var(--font-heading); */
}

h1 {
  font-size: 24px;
  line-height: 1.1;
}

h2 {
  font-size: 21px;
}

h3 {
  font-size: 18px;
}
/* 
h4 {
  font-size: 21px;
}

h5 {
  font-size: 18px;
} */

p {
  line-height: 1.4;
}

ul {
  line-height: 1.4;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  /* color: var(--info-3); */
  text-decoration: none;
  /* font-weight: 700; */
}


.mobileView {
  .slick-dots {
    bottom: 4px;
    z-index: 8888;
    background-color: hsl(0deg 0% 0% / 30%);
  }
  
  .slick-dots li {
    height: 24px;
    width: 4px;
  }
  
  .slick-dots li button:before {
    color: #eee;
    opacity: 0.7;
    line-height: 18px;
  }
  
  .slick-dots li.slick-active button:before {
    color: #fff;
    opacity: 1;
  }  
}

@media (prefers-color-scheme: dark) {
  /* html {
    color-scheme: dark;
  } */
}

@media (min-width: 720px) {
  body {
    font-size: 16px;
  }

  h1 {
    font-size: 26px;
  }
  
  h2 {
    font-size: 24px;
  }
  
  h3 {
    font-size: 21px;
  }
}
