.slider {
  margin: 0 -32px;
  /* margin-top: 24px; */
  width: calc(100%+24px);
}
.item {
  width: 100%;
  padding: 0 8px;
}
.image {
  width: 100%;
  display: block;
  height: auto;
  object-fit: cover;
  /* border-radius: 8px; */
}
