.related {
  margin-top: 18px;
  padding: 0 16px;
}

.slider {
  margin: 0 -4px;
  margin-top: 12px;
}

.item {
  padding: 0 4px;
}

/* .list {
  margin-top: 12px;
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(2, 1fr);
} */

@media (min-width: 600px) {
  /* .list {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  } */

  .slider {
    margin: 0 -8px;
    margin-top: 12px;
  }

  .item {
    padding: 0 8px;
  }
}

@media (min-width: 900px) {
  .list {
    grid-template-columns: repeat(3, 1fr);
  }
}