.sections {
  width: 100%;
  min-height: 0;
  min-width: 0;
}

.item {
  padding: 0 16px;
  width: 100%;
}

.image {
  width: 100%;
}

.itemText {
  margin-top: 8px;
  text-align: center;
}

.leftArrow {
  position: absolute;
  top: 50%;
  left: -36px;
  cursor: pointer;
  z-index: 10;
}

.rightArrow {
  position: absolute;
  top: 50%;
  right: -36px;
  cursor: pointer;
  z-index: 10;
}

.buttonBox {
  display: flex;
  justify-content: center;
  margin-top: 38px;
}
