.sections {
  display: flex;
  justify-content: center;
  gap: 10px; /* отступ между ними */
}

.itemsBox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.card {
  margin-bottom: 16px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  border-radius: 16px;
  padding: 16px 16px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.title {
  text-align: center;
}

.text {
  font-size: 18px;
  color: var( --text);
  margin-top: 6px;
  flex-grow: 1;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.images {
  display: flex;
  flex-direction: row;
  margin-top: 16px;
  /* grid-template-columns: repeat(3, 1fr); */
  gap: 16px;
  flex-shrink: 0;
}


/* Responsive */
@media (min-width: 600px) {
 
}
