.page {
  height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  min-height: calc(100% - 156px);
  /* min-height: 1px; */
  padding: 24px;
}

.items {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  place-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1024px;
  margin-top: 24px;
  gap: 24px;
}

.item {
  width: 100%;
}

@media (min-width: 840px) {

  .main {
    padding: 32px;
  }


  .items {
    grid-template-columns: repeat(2, 1fr);
  }

  .item {
    /* width: 40%; */
  }
  
}