.page {
  height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  min-height: calc(100% - 156px);
  /* min-height: 1px; */
  padding: 24px;
}

.items {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  place-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1024px;
  margin-top: 24px;
  gap: 24px;
}

.item {
  width: 100%;
}

.list {
  margin-top: 24px;
  display: grid;
  place-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1024px;
  margin-top: 24px;
  gap: 24px;
  grid-template-rows: repeat(2, 1fr);
}


.linkSecondary {
  border: 1px solid #0974e2;
  font-weight: 700;
  font-size: 15px;
  display: block;
  color: #0974e2;
  text-align: center;
  border-radius: 8px;
  padding: 12px 16px;

  &:hover {
    border-color: #3a9bff;
  }
}

.buttonBox {
  margin-top: 24px;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
}

@media (min-width: 840px) {
  .main {
    padding: 32px;
  }
  .items {
    grid-template-columns: repeat(2, 1fr);
  }
  .item {
    /* width: 40%; */
  }
}

@media (min-width: 600px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .list {
    grid-template-columns: repeat(3, 1fr);
  }
}