.page {
  height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  min-height: calc(100% - 156px);
  background-color: var(--foreground);
  /* min-height: 1px; */
  padding: 32px 18px;
  padding-bottom: 70px;
}

.inner {
  width: 100%;
  max-width: 760px;
  margin: 0 auto;
}

.items {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  place-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 24px;
  gap: 24px;
}

.item {
  width: 100%;
}

.seeAll {
  font-weight: 700;
  font-size: 15px;
  display: block;
  color: rgb(10, 10, 10);
  background-color: white;
  text-align: center;
  border-radius: 8px;
  padding: 12px 16px;

  &:hover {
    border-color: #3a9bff;
  }
}

.buttonBox {
  margin-top: 24px;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
  width: 100%;

  h3 {
    text-align: center;
    color: var(--header-inversive);
  }

  p {
    margin-top: 8px;
    color: var(--text-inversive);
  }
}

.photos {
  display: block;
  width: 100%;
  margin-top: 16px;
  /* padding: 4px; */
}

@media (min-width: 840px) {
  .main {
    padding: 32px;
  }
  .items {
    grid-template-columns: repeat(2, 1fr);
  }
  .item {
    /* width: 40%; */
  }

  .section {
    h3 {
      font-size: 28px;
    }
  
    p {
      margin-top: 12px;
    }
  }
}
