.firstLine {
  display: flex;
  align-items: center;
  gap: 8px;

  h2 {
    flex-grow: 1;
  }
}


.seeAll {
  font-weight: 700;
  /* font-size: 15px; */
  display: block;
  color: rgb(10, 10, 10);
  background-color: white;
  text-align: center;
  border-radius: 8px;
  padding: 6px 24px;

  &:hover {
    border-color: #3a9bff;
  }
}

.buttonBox {
  margin-top: 0px;
}

.section {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  margin-top: 48px;
  width: 100%;

  /* h2 {
    text-align: center;
    color: var(--header-inversive);
  } */

  p {
    margin-top: 8px;
  }
}

.photos {
  display: block;
  width: 100%;
  margin-top: 16px;
  /* padding: 4px; */
}

@media (min-width: 840px) {
  .section {
    h3 {
      font-size: 28px;
    }
  
    p {
      margin-top: 12px;
    }
  }
}



.list {
  margin-top: 8px;
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 600px) {
  .list {
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }
}
