.list {
  padding: 0px 0;
}

.item {
  background-color: #eeeeee;
  color: var(--text);
  /* font-weight: 700; */
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 14px;
  margin-right: 8px;
  margin-bottom: 8px;
}