.page {
  min-height: 100vh;
  background-color: var(--foreground);
  color: var(--header-inversive);
}

.main {
  max-width: 760px;
  margin: 0 auto;
  padding: 16px;
  padding-bottom: 32px;
  padding-top: 36px;

  h1 {
    color: var(--header-inversive);
    text-align: center;
    max-width: 560px;
    margin: 0 auto;
  }

  h2 {
    color: var(--header-inversive);
  }

  section + section {
    margin-top: 32px;
  }

  h1 + p, h2 + p, ul + p {
    margin-top: 8px;
  }

  p + p {
    margin-top: 4px;
  }

  p {
    color: var(--text-inversive);
  }

  ul {
    padding-left: 20px;
    margin-top: 8px;
    color: var(--text-inversive);

    li + li {
      margin-top: 4px;
    }
  }
}

.content {
  margin-top: 32px;
}

@media (min-width: 840px) {
  .main {  
    padding-left: 0;
    padding-right: 0;
    h2 + p {
      margin-top: 12px;
    }
  }
}