.sections {
  display: flex;
}

.card {
  border-radius: 16px;
  padding: 16px 16px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.leftSide {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-grow: 1;
  height: 100%;
}

.cardDetails {
  flex-grow: 1;
}

.price {
  font-size: 24px;
  font-weight: bold;
  /* text-align: right; */
  color: var(--success-2);
  margin-top: 8px;
}

.title {
  
}

.subtitle {
  font-size: 18px;
  color: var( --text);
  /* text-align: center; */
  margin-top: 6px;
}

.imageBox {
  height: 120px;
  width: auto;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.images {
  display: flex;
  flex-direction: row;
  margin-top: 16px;
  /* grid-template-columns: repeat(3, 1fr); */
  gap: 16px;
  flex-shrink: 0;
}

@media (min-width: 760px) {

}

@media (min-width: 1080px) {

}