.page {
  min-height: 100vh;
}

.backBox {
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 12px;
}

.main {
  max-width: 780px;
  margin: 0 auto;
  padding-bottom: 76px;
}

.content {
  padding: 12px 12px;
  margin-top: 0px;
}

.imagesBox {
  width: 100%;
  min-height: 0;
  min-width: 0;
}

.title {
  /* padding: 0 12px; */
}

.bestseller {
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: #FD5758;
  margin-bottom: 4px;
}

.line {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 0px;
}

.textBox {
  flex-grow: 1;
  margin-top: 8px;
  /* padding: 0 12px; */
}

.text {
  margin-top: 16px;

  ul {
    padding-left: 20px;
    margin-top: 8px;

    li + li {
      margin-top: 4px;
    }
  }

  p {
    margin-top: 4px;
  }

  h3 {
    margin-top: 12px;
  }
}

.rightSide {
  width: 100%;
  flex-shrink: 0;
}

.seeAllButton {
  border: 1px solid #0974e2;
  font-weight: 700;
  font-size: 15px;
  display: block;
  color: #0974e2;
  text-align: center;
  border-radius: 8px;
  padding: 12px 16px;
  margin-top: 16px;

  &:hover {
    border-color: #3a9bff;
  }
}

.naMessage {
  font-size: 22px;
  color: #aaaaaa;
  padding: 18px;
}


.mobileButton {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #ffffff;
  padding: 12px 16px;
  border-top: 1px solid #e1e1e1;
}

.link {
  background-color: #0974e2;
  font-weight: 700;
  font-size: 15px;
  display: block;
  color: white;
  text-align: center;
  border-radius: 8px;
  padding: 12px 16px;

  &:hover {
    background-color: #3a9bff;
  }
}

.hint {
  font-size: 13px;
  color: var(--text);
  text-align: center;
  margin-top: 16px;
}

@media (min-width: 760px) {
  .title {
  }
 
  .content {
    padding: 0;
  }
  .line {
    flex-direction: row;
    align-items: start;
    margin-top: 16px;
  }
  .rightSide {
    width: 300px;
    margin-left: 24px;
    /* padding: 16px 16px; */
  }
  .textBox {
    margin-top: 0;

    p {
      margin-top: 8px;
    }
  }

  .seeAllButton {
    display: none;
  }

  .backBox {
    display: none;
  }

  .mobileButton {
    display: none;
  }

  .hint {
    display: none;
  }
}
