.card {
  position: relative;
  /* max-width: 460px; */
  border-radius: 8px;
  overflow: hidden;
  background: #fff;
  
  &:hover {
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  }
}

.image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}