.page {
  position: relative;
  /* background-color: var(--foreground); */
}

.backBox {
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 12px;
  border-bottom: 1px solid #e3e3e3;
}

.main {
  width: 100%;
}

.photos {
  margin-top: 0px;
  padding: 4px;
  /* padding-bottom: 92px; */
}

.item {
  padding: 0 0;
  width: 100%;
}

.image {
  width: 100%;
  height: auto;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px 16px;
  display: flex;
  justify-content: end;
  background-color: rgba(20, 20, 20, 0.75)
}

@media (max-width: 600px) {

}

