.section {
  margin-top: 24px;
  width: 100%;
}

.photos {
  display: block;
  width: 100%;
  margin-top: 16px;
  /* padding: 4px; */
}

.hr {
  margin-top: 24px;
  height: 1px;
  border: none;
  border-top: 1px solid var(--border-dark);
}

.box {
  display: flex;
  gap: 12px;
  overflow: hidden;
  /* margin-bottom: 12px; */
}

.image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  color: white;
  border-radius: 8px;
}

.joinButtonBox {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  gap: 16px;
}

.affiliateBoxText {
  strong { 
    color: var(--orange);
  }
}


.readButton {
  background-color: #ffffff;
  font-weight: 700;
  font-size: 15px;
  display: block;
  color: var(--foreground);
  text-align: center;
  border-radius: 8px;
  padding: 12px 16px;
}

.joinButton {
  background-color: rgb(255, 144, 232);
  font-weight: 700;
  font-size: 15px;
  display: block;
  color: var(--foreground);
  text-align: center;
  border-radius: 8px;
  padding: 12px 16px;
}

@media (min-width: 840px) {
  .section {
    /* h3 {
      font-size: 28px;
    }
   */
    /* p {
      margin-top: 12px;
    } */
  }
}



.list {
  /* margin-top: 8px; */
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 600px) {
  .list {
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }
}
