.section {
  margin-top: 24px;
  width: 100%;
}

.photos {
  display: block;
  width: 100%;
  margin-top: 16px;
  /* padding: 4px; */
}

.hr {
  margin-top: 24px;
  height: 1px;
  border: none;
  border-top: 1px solid var(--border-dark);
}

@media (min-width: 840px) {
  .section {
    /* h3 {
      font-size: 28px;
    }
   */
    /* p {
      margin-top: 12px;
    } */
  }
}



.list {
  /* margin-top: 8px; */
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 600px) {
  .list {
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }
}
