.sections {
  display: grid;
  grid-template-columns: 1fr 1fr; /* две колонки */
  gap: 10px; /* отступ между колонками */
  justify-items: center;
}

.imageBox {
  width: 160px;
  display: flex;
}

.image {
  width: 100%;
  height: 100%;
}

/* Responsive */
@media (min-width: 600px) {
  .boxContainer {
    grid-template-columns: 1fr;
  }
  
  .sections {
    gap: 20px; /* отступ между колонками */
  }
 
.imageBox {
  width: 300px;
}
  
}
