.sections {
  display: grid;
  grid-template-columns: 1fr 1fr; /* две колонки */
  gap: 40px; /* отступ между колонками */
  justify-items: center;
}

.imageBox {
  width: 300px;
  display: flex;
}

.image {
  width: 100%;
  height: 100%;
}

/* Responsive */
@media (max-width: 980px) {
  .boxContainer {
    grid-template-columns: 1fr;
  }
}
