.card {
  width: 100%;
}

.lineBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.imageMobile {
  display: block;
  width: 72px;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}

.imageDesktop {
  /* width: 240px; */
  display: none;
}

.textBlock {
  margin-top: 8px;
  width: 100%;
  flex-grow: 1;
}

.title {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.3;
  color: var(--header-inversive);
  max-width: 200px;
}

.description {
  margin-top: 8px;
}

.icons {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-top: 16px;
}

@media (min-width: 600px) {
  .title {
    font-size: 26px;
    max-width: 600px;
    margin-bottom: 4px;
  }
  .description {
    margin-top: 2px;
    /* font-size: 16px; */
    text-align: center;
  }
  .lineBlock {
  }
  .textBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .imageMobile {
    /* width: 240px; */
    display: none;
  }

  .imageDesktop {
    width: 120px;
    margin-bottom: 12px;
    display: block;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
  }
  .icons {
  justify-content: center;
  }
}