.item {
  width: 100%;
}

.image {
  width: 100%;
}

:global(.slick-dots) {
  bottom: 4px;
  z-index: 99999;
  background-color: hsl(0deg 0% 0% / 30%);
}

:global(.slick-dots li) {
  height: 24px;
}

:global(.slick-dots li button:before) {
  color: #eee;
  opacity: 0.7;
  line-height: 18px;
}

:global(.slick-dots li.slick-active button:before) {
  color: #fff;
  opacity: 1;
}
