.box {
  border-top: 1px solid #444444;
  width: 100%;
  background-color: #1e1e1e;
  color: #fff;
  padding: 0 16px;
  padding-top: 24px;
  padding-bottom: 36px;
}

.container {
  max-width: 760px;
  margin: 0 auto;
}

.nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.firstCol {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: column;
  gap: 20px;
}

.logoBox {
  /* width: 100%; */
  /* max-width: 200px; */
  padding-top: 4px;
}

.title {
  font-size: 24px;
  font-weight: 600;
  color: var(--header-inversive);
}

/* 
.logoImage {
  width: 100%;
} */

.linksBox {
  display: flex;
  flex-direction: row;
}

.menuList {
  list-style: none;
}

.menuHeader {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  color: #919496;
  letter-spacing: .08em;
  margin-bottom: 8px;
  display: block;
}

.menuLink {
  font-size: 15px;
  font-weight: 700;
  line-height: 1.5;

  &:hover {
    text-decoration: underline;
  }
}

.menuItem {
  display: block;

  & + & {
    margin-top: 2px;
  }
}

.alertBox {
  margin-top: 8px;
  text-align: right;
  font-size: 13px;
  color: #919496;
  font-weight: 700;

  div + div {
    margin-top: 0px;
  }
}

.secondCol {
  width: 100%;
  font-size: 16px;
  color: #dddddd;
  margin-top: 24px;

  div + div {
    margin-top: 8px;
  }
}

.email {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 4px;
}

.flags {
  display: flex;
  gap: 10px;
}

@media (min-width: 600px) {
  .logoBox {
    width: calc(50% - 16px);
  }

  .linksBox {
    width: calc(50% - 16px);
  }
  
  .firstCol {
    /* width: 75%; */
    flex-direction: row;
    gap: 24px;
  }

  .secondCol {
    /* width: 25%; */
    /* text-align: right; */
    /* margin-top: 0px; */
    text-align: center;
  }

  .email {
    text-align: center;
    justify-content: center;
  }
  .flags {
    /* justify-content: end; */
  }
}

@media (min-width: 900px) {
  .logoBox {
    width: 25%;
  }

  .linksBox {
    width: 25%;
  }

  .firstCol {
    flex-wrap: nowrap;
  }
}
