.sections {
  
}


.list {
  list-style: none;
}

.item {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 15px;
  font-size: 21px;
}

.icon {
  color:  var(--primary);
  font-size: 28px;
  line-height: 1.0;
  font-weight: 700;
}


.hintList {
  padding-left: 16px;
}


.buttonBox {
  display: flex;
  justify-content: end;
  margin-top: 8px;
}
