.slider {
  /* margin: 0 -6px; */
  margin-left: -6px;
  margin-top: 18px;
  margin-bottom: 0px;
  width: calc(100% + 22px);
}

.sliderBox {
  width: 100%;
}

.item {
  padding: 0 6px;
}

@media (min-width: 600px) {
  .slider {
    width: calc(100% + 6px);
  }
}


