.page {
  min-height: 100vh;
  background-color: var(--foreground);
}

.main {
  max-width: 760px;
  margin: 0 auto;
  padding: 16px;
  padding-bottom: 32px;
  padding-top: 36px;
  color: white;

  h1 {
    text-align: center;
    font-size: 18px;
  }

  h2 {
    font-size: 18px;
  }

  section + section {
    margin-top: 32px;
  }

  p {
    font-size: 14px;
    margin-top: 16px;
    line-height: 1.4;
    color: #dddddd;
  }

  ul {
    padding-left: 20px;
    margin-top: 8px;
    font-size: 16px;
    line-height: 1.3;
    color: #dddddd;

    li + li {
      margin-top: 4px;
    }
  }
}

.content {
  margin-top: 32px;
}


@media (min-width: 840px) {
  .main {
    h1 {
      font-size: 28px;
    }
  
    p {
      font-size: 18px;
      margin-top: 12px;
    }
  }
}