.drawer {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 300px;
  height: 100vh;
  z-index: 200;
  transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  background-color: #111;
  transition-duration: 200ms;
}

.open {
  composes: drawer;

  transform: translate3d(0, 0, 0);
}

.linksBox {
  color: #fff;
  padding: 24px 24px;
}
.menuItem {
  margin-bottom: 8px;
}
.menuList {
  list-style: none;
  margin-top: 12px;
}
.menuLink {
  font-size: 15px;
  font-weight: bold;
}

.hr {
  margin-top: 12px;
  height: 1px;
  border: none;
  border-top: 1px solid var(--border-dark);
}

.brand {
  font-size: 19px;
  font-weight: 700;
  color: var(--text);
  letter-spacing: .08em;
  /* text-transform: uppercase; */
}