.list {
  margin-top: 24px;
  margin-bottom: 24px;
  display: flex;
  flex-wrap: wrap;
}

.item {
  background-color: var(--info-3);
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 15px;
  margin-right: 8px;
  margin-bottom: 8px;
}