.list {
  width: 100%;
}

.item {
  border-bottom: 1px solid #434343;
  width: 100%;
}

.itemBlack {
  composes: item;
  border-bottom: 1px solid var(--border-light);

  &:last-child {
    border-bottom: none;
  }
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  border: none;
  padding: 16px 0;
  font-size: 21px;
  font-weight: 600;
  cursor: pointer;
  text-align: left;
  color: #ffffff;
}

.headerBlack {
  composes: header;
  color: var(--header);
}


.header span {
  display: inline-block;
}

.icon {
  transition: transform 0.4s ease;
  font-size: 16px;
}

.open {
  transform: rotate(180deg);
}

.body {
  padding: 0 0 16px 0;
  line-height: 1.5;
  /* font-size: 18px; */
  color: var(--text-inversive);
}

.bodyBlack {
  composes: body;
  color: var(--text);
}

.bodyHidden {
  display: none;
}