.list {
  width: 100%;
}

.item {
  border-bottom: 1px solid #414141;
  width: 100%;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  border: none;
  padding: 16px 0;
  font-size: 21px;
  font-weight: 600;
  cursor: pointer;
  text-align: left;
}

.header span {
  display: inline-block;
  color: #ffffff;
}

.icon {
  transition: transform 0.4s ease;
  font-size: 16px;
}

.open {
  transform: rotate(180deg);
}

.body {
  padding: 0 0 16px 0;
  line-height: 1.5;
  font-size: 18px;
  color: var(--text-inversive);
}