.tabs {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  padding: 12px 16px;
}

.tab {
  padding: 0 8px;
  font-size: 19px;
  line-height: 1.5;
  color: #aaaaaa;
  font-weight: 700;
}

.active {
  color: var(--info-3);
}

@media (min-width: 600px) {
.tab {
  padding: 0 16px;
  font-size: 32px;
}
}